.pokemon {
    line-height: 30px;
    padding-left: 10px;
}

.btn {
    background-color: green;
    color: white;
    text-transform: capitalize;
    margin: 2px;
    width: 125px;
}

.btn:hover {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid green;
}

.btn-secondary {
    background-color: rgb(48, 47, 47);
    color: white;
}

@media all and (max-width: 500px) {
    h1 {
        text-align: center;
    }
    .list-groupt {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

.modal-title {
    text-transform: capitalize;
}

.modal-img {
    display:block;
    margin-left: auto;
    margin-right: auto;
}