h1 {
    color: white;
    background-color: green;
    padding-left: 10px;
}

.pokemon {
    line-height: 30px;
    padding-left: 10px;
}

.pokemon-list {
    list-style-type: none;
}

.pokebutton {
    background-color: green;
    color: white;
    padding: 10px;
    margin: 2px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: capitalize;
}

.pokebutton:hover {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid green;
}

@media all and (max-width: 500px) {
    h1 {
        text-align: center;
    }
    .pokemon-list {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

.pokemon-img {
    padding-right: 55px;
    float: right;
}