h1 {
    color: white;
    background-color: green;
    padding-left: 10px;
}

.pokemon {
    line-height: 30px;
    padding-left: 10px;
}

.pokebutton {
    background-color: green;
    color: white;
    padding: 10px;
    margin: 2px;
    width: 150px;
}