h1 {
    color: white;
    padding-left: 10px;
}

.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25em;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.pokemon {
    line-height: 30px;
    padding-left: 10px;
}

.pokemon-list {
    list-style-type: none;
}

.pokebutton {
    background-color: green;
    color: white;
    padding: 10px;
    margin: 2px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: capitalize;
}

.pokebutton:hover {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid green;
}

@media all and (max-width: 500px) {
    h1 {
        text-align: center;
    }
    .pokemon-list {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

/* #modal-container {
    display: none;
}

#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    

    z-index: 999; 
    

    overflow: auto; 

    display: grid;
    text-align: center;
} */

/* .modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: left;
}

.modal-close {
    float: right;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: white;
    text-decoration: underline;
    padding: 10px;
}

.modal-close:hover {
    background: black;
    cursor: pointer;
}
  
.modal h1 {
    margin-top: 0;
    text-transform: capitalize;
}
  
.modal p {
    margin-bottom: 0;
    padding-left: 10px;
    text-transform: capitalize;
} */

.pokemon-img {
    padding-right: 55px;
    float: right;
}